<div class= "conatiner">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://udemy.com/">The complete ruby on rails course</a>
			Created by <a href="https://in.linkedin.com/in/ajith-rajan-a1684359">Ajith Rajan</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>